{% load core_extras %}
{% include 'base.html' %}

{% block main_content %}
{% for message in messages %}
<div class="container-fluid p-0">
  <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
    </button>
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>
{% endfor %}
<div class="justify-content-center d-flex row p-4">
  <h1>Cookbook</h1>
  <button onclick="window.location='/select_items_for_recipe'" class="btn btn-primary">Generate a recipe</button><br>
  <div class="justify-content-center row p-4">
  {%for recipe in recipes %}
  <div class=" m-2">
  
      <a href="/view_recipe/{{recipe.recipe.pk}}">
    <img height="200" src="{%if recipe.recipe.image_field %} {{recipe.recipe.image_field.url}} {%endif%}">
    <br><br>  
    <h3>{{recipe.recipe.title}}    
    </h3>
      </a>
      <button onclick="window.location='/remove-fav/{{recipe.recipe.pk}}'" class="btn-danger btn btn-sm">Remove</button>
    <hr>
  </div>
    {% endfor %}
  </div>
{% endblock %}

