{% load core_extras %}
{% include 'base.html' %}

{% block main_content %}
{% for message in messages %}
<div class="container-fluid p-0">
  <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
    </button>
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>
{% endfor %}
<h1>List View</h1>
Hello{%if request.user%} {{request.user}} {%endif%}!
<br>
<table class="table" id="list">
    <tbody>
        {%for item in list_of_items %}
        <tr>
            <td>
                <img src="{{item.imageURL}}" height="100">
                <p>{{item.productName}} - {{item.brand}} - {{item.expiry_date}}</p>
                <p>{%if item.expiry_date|is_expiring_than_two_days %}<span class="badge text-bg-warning">EXPIRES SOON</span>{%endif%}</p>
                <button class="btn btn-danger" onclick="window.location = '/remove-item/{{item.pk}}'">Remove</button>
            </td>
        </tr>
        {%endfor%}
</tbody>
</table>
{% endblock %}