{% load core_extras %}
{% include 'base.html' %}

{% block main_content %}
{% for message in messages %}
<div class="container-fluid p-0">
  <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
    </button>
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>
{% endfor %}
Hello{%if request.user%} {{request.user}} {%endif%}!
<br>
<button onclick="window.location='/scan_a_product'" class="btn btn-primary">Scan an item</button>
<table class="table" id="fridge">
    <tbody>
    {%for shelf_fridge in shelves_fridge%}
    <tr><td>           Fridge Shelf #{{shelf_fridge.number|add:1}}   
        <div>Items:
            <br>
            {%for item in shelf_items|get_item:shelf_fridge.pk%}
            <div style="text-align: center; background-color: white; padding: 1%; border-radius:25px;">
                <img src="{{item.imageURL}}" height="100">
                <p>{{item.productName}} - {{item.brand}} - {{item.expiry_date}}</p>
                <button class="btn btn-danger" onclick="window.location = '/remove-item/{{item.pk}}'">Remove</button>
                </div>
                {%endfor%}               
        </div>    
    </td></tr>
    {%endfor%}
    {%for shelf_freezer in shelves_freezer%}
    <tr><td class="bg-info">    
        Freezer Shelf #{{shelf_freezer.number|add:1}}  
        <div>Items:
            <br>
            {%for item in shelf_items|get_item:shelf_freezer.pk%}
            <div style="text-align: center; background-color: white; padding: 1%; border-radius:25px;">
            <img src="{{item.imageURL}}" height="100">
            <p>{{item.productName}} - {{item.brand}} - {{item.expiry_date}}</p>
            <button class="btn btn-danger" onclick="window.location = '/remove-item/{{item.pk}}'">Remove</button>
            </div>
            {%endfor%}        </div>
    </td></tr>
    {%endfor%}
</tbody>
</table>
{% endblock %}