{% load core_extras %}
{% include 'base.html' %}

{% block main_content %}
{% for message in messages %}
<div class="container-fluid p-0">
  <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
    </button>
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>
{% endfor %}
<div class=" justify-content-center text-align-center d-flex" style="flex-direction: column;">
    <button  onclick="window.location='/scan_a_product'" class="btn btn-primary m-4">Scan an Item to Add to Fridge</button>
    <!-- <button onclick="window.location='/scan_a_product'" class="btn btn-primary m-4">Meal Generator</button> -->

  </div>
  <!-- <h4 class="mx-3">Favourite Recipes</h4> -->

  <h4 class="mx-3">Fridge</h4>
<div class="d-flex justify-content-center py-2"><p class="mx-3">This is your fridge, it shows the where items are kept and their expiry date.</p></div>
<table class="table" id="fridge">
  <tbody>
    {%for shelf_fridge in shelves_fridge%}
    <tr><td>    <div class="shelf fridge-shelf">     <h6> Fridge Shelf {{shelf_fridge.number|add:1}} </h6>
      <div><span class="shelf-item">Items</span>
        <br>
        {%for item in shelf_items|get_item:shelf_fridge.pk%}
        <div style="text-align: center; background-color: #ffffffbd; padding: 2.5%; margin:2.5% 0; border-radius:25px;" style="border-radius: 10px;">
          <div class="row">
            <div class="col-5">
              <img src="{{item.imageURL}}" height="100px" width="100%">
            </div>
            <div class="col-7">
              <p>{{item.productName}} <br> {{item.brand}} <br> {{item.expiry_date}}</p>
              <button class="btn btn-danger" onclick="window.location = '/remove-item/{{item.pk}}'">Remove</button>
            </div>
          </div>
        </div>
        {%endfor%}
      </div>
      </div>
    </td></tr>
    {%endfor%}
    {%for shelf_freezer in shelves_freezer%}
    <tr><td class=""> <div class="shelf freezer-shelf">
      <h6>Freezer Shelf {{shelf_freezer.number|add:1}} </h6>
      <div><span class="shelf-item">Items</span>
        <br>
        {%for item in shelf_items|get_item:shelf_freezer.pk%}
        <div style="text-align: center; background-color: white; padding: 2.5%; margin:2.5% 0; border-radius:25px;">
          <img src="{{item.imageURL}}" height="100px" width="100px" style="border-radius: 10%;">
          <p>{{item.productName}} - {{item.brand}} - {{item.expiry_date}}</p>
          <button class="btn btn-danger" onclick="window.location = '/remove-item/{{item.pk}}'">Remove</button>
        </div>
        {%endfor%}        </div></div>
      </td></tr>
      {%endfor%}
    </tbody>
  </table>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  {% endblock %}
