{% include 'base.html' %}

{% block main_content %}
{% for message in messages %}
<div class="container-fluid p-0">
  <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
    </button>
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>
{% endfor %}
<div class="justify-content-center row p-4">
{%for recipe in recipes %}
<div class=" m-2">

    <a href="/view_recipe/{{recipe.recipe.pk}}">
  <img height="200" src="{%if recipe.recipe.image_field %} {{recipe.recipe.image_field.url}} {%endif%}">
  <br><br>  
  <h3>{{recipe.recipe.title}}     <button onclick="window.location='/remove-fav/{{recipe.recipe.pk}}'" class="btn-danger btn btn-sm">Remove</button>
  </h3>
    </a>
  <hr>
</div>
  {% endfor %}
</div>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}
